body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #01014b;
}

.container {
    text-align: center;
}

h1 {
    color: #fff200;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-top: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.cell:hover {
    background-color: #ccc;
}

.status {
    margin-top: 20px;
    font-size: 18px;
    color: #fffdfd;
}
